**/__pycache__
**/.pytest_cache
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.venv
**/venv
**/.env
**/dist
**/build
**/*.egg-info
**/.coverage
**/htmlcov
**/.mypy_cache
**/.ruff_cache
